version: "3.8"

services:
  db:
    image: postgres:15
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: crud
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:5.0.3
    restart: always
    command: redis-server /etc/redis/redis.conf
    ports:
      - "7005:6379"
    volumes:
      - ./config/redis.conf:/etc/redis/redis.conf
      - ./data/redis:/data

volumes:
  postgres_data:
